/* src/App.css */
.App {

    /* background-color: rgb(205, 232, 223); */
    padding-top: 25px;
    text-align: center;
  }

  .container {
    /* border: 1px solid red; */
    box-shadow: 10px 10px 8px #888888;
    border-radius: 25px;
    background-color: #d1e9ea;
    
    width: 50vh;
  }
  
  .login-page {
    text-align: center;
    margin-top: 50px;
  }
  
  .login-page input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-page button {
    padding: 10px 20px;
    font-size: 16px;
  }


  .login-Box button {
    padding: 10px 20px;
    font-size: 16px;
  }



  
  h1 {
    padding-top: 15px;
    font-size: 24px;
    margin-bottom: 20px;
  }








  .result-box{
    background-color: #333;;
    color: #bbb;
    text-align: end;
    font-size: 24px;
    padding: 10px;

  }






  
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    font-size: 24px;
    padding: 20px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    outline: none;
  }
  
  button.special {
    background-color: orange;
  }
  
  button.zero {
    grid-column: span 2;
  }
  